# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LEVEL1_TERM2\1905046_MainProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
